<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>K07JSPServlet</display-name>
  
  <!-- 
  JDBC사용을 위한 "컨텍스트 초기화 파라미터"를 설정
  	해당 설정값은 웹어플리케이션 모든 JSP혹은 서블릿에서
  	접근가능. 
  -->
  
  <context-param>
  	<param-name>JDBCDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
  	<param-name>ConnectionURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
  </context-param>
  
  <!--
     해당 웹어플리케이션을 실행했을떄 파일명을 명시하지 않으면
     아래 파일리스트에 기술된 파일을 찾아서 순서대로 찾아서 실행한다.
     만약 해당 파일이 없으면 404(페이지없음) 에러가 발생한다.
   -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>HelloJSP.jsp</welcome-file>
  </welcome-file-list>
</web-app>